table {
  width: 100%;
}
mat-card {
  width: 800px;
  margin: 20px 20px 20px 40px;
}

.mat-column-nome, .mat-column-cpf, .mat-column-nascimento{
  border-right: 1px solid lightgray;
  text-align: center;
}

.mat-column-actions {
  text-align: center;
  width: 100px;
}
