
<div class="container">
  <!--<mat-grid-list cols="10" rowHeight="fit" style="height: 100%;" >-->
  <!--  <mat-grid-tile [colspan]="5" >-->
  <app-pessoa-lista-paginada [events]="eventsSubject.asObservable()" (editPessoa)="editPessoa($event)"></app-pessoa-lista-paginada>
  <!--  </mat-grid-tile>-->

  <!--  <mat-grid-tile [colspan]="3">-->
  <app-editar-pessoa (updateList)="updateList()" [events]="eventsEditPessoa.asObservable()"></app-editar-pessoa>
  <!--  </mat-grid-tile>-->

  <!--  <mat-grid-tile [colspan]="2">-->
  <app-messages></app-messages>
  <!--  </mat-grid-tile>-->

  <!--</mat-grid-list>-->
  <!--<app-pessoa-lista-paginada></app-pessoa-lista-paginada>-->
</div>
